* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #001d3d;
  padding: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.header {
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  color: orange;
}

.input-div label {
  color: #fff;
}

.input-div input[type="number"] {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-left: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

#result-btn {
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  background-color: #f95738;
  border: 1px solid #f95738;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#reset-btn {
  display: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  background-color: #ffc300;
  border: 1px solid #ffc300;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#reminder {
  color: #ffc300;
  text-transform: capitalize;
}

.result-div {
  margin: 50px 0 0 0;
  text-align: start;
}

.result-div p {
  text-transform: capitalize;
  font-size: 17px;
  margin: 10px 0;
}

#win {
  color: #29bf12;
  display: none;
}

#lost {
  color: #e63946;
  display: none;
}

#remain-attempt {
  color: #ffc300;
}

#total-win {
  color: #29bf12;
}

#total-lost {
  color: #e63946;
}

.final-result {
  text-align: center;
  margin: 20px 0 0 0;
  text-transform: capitalize;
}

#final-result {
  font-weight: bold;
}
